* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-image: url('2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* canvas { 
    width: 100%;
    height: 100%;
    border: solid 1px black
} */
.hidden {
    display: none;
}